/* Clase que tendra el tooltip */  
.cssToolTip {
 position: relative; /* Esta clase tiene que tener posicion relativa */
 color: #ff8c00; /* Color del texto */
}
 
/* El tooltip */
.cssToolTip span {
 background: rgba(20,20,20,0.9) url('img/info.gif') center left 5px no-repeat; 
 border: 2px solid #87cefa;
 border-radius: 5px;
 box-shadow: 5px 5px 5px #333;
 color: #87cefa;
 display: none; /* El tooltip por defecto estara oculto */
 font-size: 0.8em;
 padding: 10px 10px 10px 35px;
 max-width: 6000px;
 position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
 top: 15px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
 left: 100px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
 z-index: 100; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
}
 
/* El tooltip cuando e muestra */
.cssToolTip:hover span {
 display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
}